<%-include("include/header", {title: title})%>
    <div class="global-wrapper">
      <!-- S 公共头部 -->
      <div class="g-header no-border clear">
        <% if (isMobile) { %>
          <%-include("include/navmobile")%>
        <% } else{%>
          <%-include("include/navpc")%>
        <%}%>
      </div>
      <!-- E 公共头部 -->
      <div class="main-content">
        <div class="home-page">
          <!-- S 轮播图  -->
          <div class="g-home-carousel">
            <div class="carousel-wrap swiper-container">
                <ul class="swiper-wrapper clear">
                  <% for(var i = 0;i < bannerImg.length;i++){ %>
                    <li class="swiper-slide">
                      <img src="<%= bannerImg[i].url %>" alt=""/>
                    </li>
                  <% } %>
                </ul>
            </div>
            <div class="winedemo">
              <img src="/images/home/red_wine.png" alt="">
            </div>
          </div>
          <!-- E 轮播图  -->
          <!-- S 公司简介 -->
          <div class="company-info scrollItem">
            <h3 class="common-title">公司简介</h3>
            <div class="info-wrapper common-wrap clear">
              <p class="info-cn">
                  佰迈精品酒业——经营原装进口葡萄酒的品牌专业机构！引领市场，开拓创新，为行业内客户及零售消费者带来优质产品与领先服务。佰迈精品酒业独家代理众多精品佳酿，以专业的视角和团队为客户提供服务，确保每一瓶葡萄酒的尊荣品质。
                  <% if (isMobile) { %>
                    <br />
                  <% } else{%>
                    <br /><br />
                  <%}%>
                  自成立以来，始终坚持对卓越品质的不懈追求，精选世界各国的原装进口葡萄酒，从而保证我们的产品质量和市场竞争力。核心产品包括美国华盛顿州和加州纳帕谷精品葡萄酒，法国波尔多、隆河谷、朗格多克地区，意大利托斯卡纳、翁布利亚（Umbria），葡萄牙里斯本产区等来自不同地区的精品齐聚一堂。除此之外，我们还提供葡萄酒知识讲座、葡萄酒品尝会、葡萄酒晚宴等一系列活动来推广葡萄酒文化，为客户提供葡萄酒整体解决经营方案，增强产品核心竞争。
              </p>
              <p class="info-en">
                  Bai Mai Wine Co.,Ltd is a professional brand of wine importer located in Shenzhen. As the innovative leader in the market, we provide our customers, retailers and distributors alike, with products and services of high quality. We are also the exclusive importer of some of the most prestigious wine all over the world. With dedicated professionalism, we are therefore able to ensure that each bottle of wine is of honorable quality.
                  <% if (isMobile) { %>
                    <br />
                  <% } else{%>
                    <br /><br />
                  <%}%>
                  Bai Mai always adheres to the relentless pursuit of excellence ever since the day we were founded.  We carefully select wines from various countries, so as to ensure our top product quality and market competitiveness. Our portfolio includes the US (Washington State and California Napa Valley), France (Bordeaux, the Rhone Valley and Languedo), Italy (Tuscany, Umbria), Portugal (Lisbon) and other different regions. In addition, we regularly hold series of activities like wine lectures, wine tastings and dinners to promote wine culture. As a true believer in sustainable co-operation, we also provide our customers with an overall solution within the wine business.
              </p>
            </div>
          </div>
          <!-- E 公司简介 -->
          <!-- S 葡萄酒 -->
          <div class="red-wine scrollItem">
            <h3 class="common-title">葡萄酒</h3>
            <div class="wine-wrapper common-wrap">
              <% if (isMobile) { %>
                <%-include("include/m_home_product_module")%>
              <% } else{%>
                <%-include("include/home_product_module")%>
              <%}%>
            </div>
            <% if (isMobile) { %>
               <a href="/prodlist" class="view-all">查看全部葡萄酒</a>
            <% } else{%>
               <a href="/prodlist" target="_blank" class="view-all">查看全部葡萄酒</a>
            <%}%>
          </div>
          <!-- E 葡萄酒 -->
          <!-- S 精彩活动 -->
          <div class="active-home scrollItem">
              <h3 class="common-title">精彩活动</h3>
              <% if (isMobile) { %>
                <%-include("include/m_home_active_module")%>
              <% } else{%>
                <%-include("include/home_active_module")%>
              <%}%>
              <% if (isMobile) { %>
                 <a href="/active" class="view-all">查看全部精彩活动</a>
              <% } else{%>
                 <a href="/active" target="_blank" class="view-all">查看全部精彩活动</a>
              <%}%>
          </div>
          <!-- E 精彩活动 -->
          <!-- S 公告 -->
          <div class="notice-home clear scrollItem">
            <div class="img-wrap fl">
              <% if (!isMobile) { %>
                <img src="/images/home/notice_bg.jpg" alt="" />
              <% } %>
            </div>
            <div class="notice-wrap fr">
              <h3 class="<%= isMobile ? 'common-title' :　'notice-title'　%>">公告</h3>
              <% if(notices.length){ %>
                <div class="notice-list">
                  <ul>
                    <li>
                      <a href="javascript:;" target="_blank" title="公告1">公告1</a>
                    </li>
                    <li>
                      <a href="javascript:;" target="_blank" title="公告2公告2公告2公告2公告2公告2公告2">公告2公告2公告2公告2公告2公告2公告2</a>
                    </li>
                    <li>
                      <a href="javascript:;" target="_blank" title="公告3公告3公告3公告3公告3">公告3公告3公告3公告3公告3</a>
                    </li>
                    <li>
                      <a href="javascript:;" target="_blank" title="公告4">公告4</a>
                    </li>
                    <li>
                      <a href="javascript:;" target="_blank" title="公告5">公告5</a>
                    </li>
                    <li>
                      <a href="javascript:;" target="_blank" title="公告6">公告6</a>
                    </li>
                  </ul>
                </div>
                <a href="javascript:;" target="_blank" class="view-all">查看全部精彩活动</a>
              <% } else { %>
                <p>暂无公告</p>
              <% } %>
              <% if (!isMobile) { %>
                <em class="notice-tag"></em>
              <% } %>
              
            </div>
            <!-- 公告弹框 -->
            <div class="notice-popup">
              <div class="pop-ctn">
                <div class="ctn-box">
                  <div class="cell-content">
                    <div class="content">
                      <ul>
                        <li class="pop-list-item">
                          <div class="nav clear">
                            <span class="nav-title">公告</span>
                            <em class="nav-icon"></em>
                          </div>
                          <div class="ctn-wrap">
                            <div class="ctn">
                              <p class="ctn-text">公告详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情</p>
                              <ul class="ctn-img">
                                <li>
                                  <img src="https://dummyimage.com/600x400/000/fff" alt="">
                                </li>
                              </ul>
                            </div>
                          </div>
                        </li>
                        <li class="pop-list-item">
                          <div class="nav clear">
                            <span class="nav-title">公告</span>
                            <em class="nav-icon"></em>
                          </div>
                          <div class="ctn-wrap">
                            <div class="ctn">
                              <p class="ctn-text">公告详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情</p>
                              <ul class="ctn-img">
                                <li>
                                  <img src="https://dummyimage.com/600x400/000/fff" alt="">
                                </li>
                              </ul>
                            </div>
                          </div>
                        </li>
                        <li class="pop-list-item">
                          <div class="nav clear">
                            <span class="nav-title">公告</span>
                            <em class="nav-icon"></em>
                          </div>
                          <div class="ctn-wrap">
                            <div class="ctn">
                              <p class="ctn-text">公告详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情</p>
                              <ul class="ctn-img">
                                <li>
                                  <img src="https://dummyimage.com/600x400/000/fff" alt="">
                                </li>
                              </ul>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mask"></div>
              <em class="close"></em>
            </div>
          </div>
          <!-- E 公告 -->
          <!-- S 招聘 --> 
            <div class="recruit-home scrollItem">
              <div class="recruit-box common-wrap">
                <h3 class="common-title">招募精英</h3>
                <div class="recruit-wrap">
                  <p class="recruit-tips">共有&nbsp;<%= recruitment.length %>&nbsp;个在招职位</p>
                  <div class="post-wrap">
                    <%= /*
                      <div class="post-nav clear">
                        <em class="t-name fl">职位：</em>
                        <div class="post-tab fl clear">
                          <span class="on">全部</span>
                          <span>市场与销售</span>
                          <span>职能</span>
                        </div>
                      </div> */
                    %>
                    <div class="post-content">
                      <% if(!!recruitment.length) { %>
                        <ul>
                          <% for(var i = 0;i < recruitment.length;i++){ %>
                            <% if (!isMobile) { %>
                              <li>
                                <a href="/recruitment/<%= recruitment[i].id %>" target="_blank"><%= recruitment[i].name %></a>
                              </li>
                            <% } else{ %>
                              <li>
                                <a href="/recruitment/<%= recruitment[i].id %>"><%= recruitment[i].name %></a>
                              </li>
                            <% } %>
                          <% } %>
                        </ul>
                      <% } else { %>
                        暂未发布职位
                      <% } %>
                    </div>
                  </div>
                </div>
              </div>
              <% if (!isMobile) { %>
                <img class="post-bg" src="/images/home/post_bg.jpg" alt="">
              <% } %>
            </div>
          
          <!-- E 招聘 -->
          <!-- S 联系我们 -->
          <div class="contact-us scrollItem">
            <h3 class="contact-title">联系我们</h3>
            <div class="contact-wrap common-wrap clear">
              <div class="info-us fl">
                <dl class="clear">
                  <dt>Adrees</dt>
                  <dd>
                    <p>
                      深圳市前海佰迈投资有限公司 &reg;
                      深圳市前海深港合作区前湾一路A栋201室<br />
                      Qianhai Shenzhen-Hongkong Modern Service Industry Cooperation Zone.
                    </p>
                    <a href="http://api.map.baidu.com/marker?location=22.5212867724,113.9096049969&title=目标位置&content=深圳市前海深港合作区前湾一路1号A栋201&output=html&src=深圳市前海佰迈投资有限公司" target="_blank" class="bd-map">百度导航</a>
                  </dd>
                </dl>
                <dl class="clear">
                  <dt>E-mail</dt>
                  <dd>guvine@qq.com</dd>
                </dl>
                <dl class="clear">
                  <dt>微信</dt>
                  <dd>645038829</dd>
                </dl>
              </div>
              <div class="contact-message fr">
                <h5 class="msg-title">直接留言</h5>
                <div class="msg-wrap">
                  <form action="" method="POST" id="messageForm">
                    <dl class="clear">
                      <dt>
                        <label for="contacts">联系人</label>
                      </dt>
                      <dd>
                        <input placeholder="联系人" name="contacts" id="contacts" type="text" autocomplete="off" />
                      </dd>
                    </dl>
                    <dl class="clear">
                      <dt>
                        <label for="tel">Tel</label>
                      </dt>
                      <dd>
                        <input placeholder="电话" name="tel" id="tel" type="text" autocomplete="off" />
                      </dd>
                    </dl>
                    <dl class="clear">
                      <dt>
                        <label for="email">E-mail</label>
                      </dt>
                      <dd>
                        <input placeholder="邮箱" name="email" id="email" type="text" autocomplete="off" />
                      </dd>
                    </dl>
                    <dl class="clear">
                      <dt>
                        <label for="comments">您的留意</label>
                      </dt>
                      <dd>
                        <textarea placeholder="请输入您的留言" name="comments" id="comments" type="text"></textarea>
                      </dd>
                    </dl>
                    <dl class="clear">
                      <dt>&nbsp;</dt>
                      <dd>
                        <a href="javascript: void(0);" id="submitMsg">提交</a>
                      </dd>
                    </dl>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- E 联系我们 -->
        </div>
      </div>
      <!-- S 公共尾部 -->
      <%-include("include/footer")%>
      <!-- E 公共尾部 -->
      <!-- S 侧边栏 -->
      <% if (!isMobile) { %>
        <%-include("include/side")%>
      <% } %>
      <!-- E 侧边栏 -->
    </div>
  </body>
</html>
