<%-include("include/header", {title: title})%>
    <div class="global-wrapper">
      <!-- S 公共头部 -->
      <div class="g-header no-border clear">
        <% if (isMobile) { %>
          <%-include("include/navmobile")%>
        <% } else{%>
          <%-include("include/navpc")%>
        <%}%>
      </div>
      <!-- E 公共头部 -->
      <div class="main-content">
        <div class="home-page">
          <!-- S 轮播图  -->
          <div class="g-home-carousel">
            <div class="carousel-wrap swiper-container">
                <ul class="swiper-wrapper clear">
                  <% for(var i = 0;i < bannerImg.length;i++){ %>
                    <li class="swiper-slide">
                      <img src="<%= bannerImg[i].url %>" alt=""/>
                    </li>
                  <% } %>
                </ul>
            </div>
            <div class="winedemo">
              <img src="/images/home/red_wine.png" alt="">
            </div>
          </div>
          <!-- E 轮播图  -->
          <!-- S 公司简介 -->
          <div class="company-info scrollItem">
            <h3 class="common-title">公司简介</h3>
            <div class="info-wrapper common-wrap clear">
              <p class="info-cn">
                  佰迈酒业葡萄酒文化合作，葡萄酒产业运营销售和批发，为企业提供葡萄酒整体解决经营方案，增强产品核心竞争。
                  <% if (isMobile) { %>
                    <br />
                  <% } else{%>
                    <br /><br />
                  <%}%>
                  佰迈酒业覆盖中国广东、西北、西南地区，佰迈酒业联合美国农业部华盛顿州葡萄酒协会旗下华盛顿进出口集团在中国大陆地区进口推广来自华盛顿州的葡萄酒。核心产品包括美国华盛顿州葡萄酒 Milbrandt、Gordon、Claar Cellars、Hedges 酒庄产品。佰迈酒业还独自进口法国有机葡萄酒，立足中国新兴葡萄酒消费市场，推广有机产品。
                  <% if (isMobile) { %>
                    <br />
                  <% } else{%>
                    <br /><br />
                  <%}%>
                  未来我们需要寻找来自意大利、法国勃艮第、南非、西班牙，新世界国家澳洲葡萄酒产品。同时我们采用先行文化推广为主，让我们的经销商了解产区文化，铺垫好市场
              </p>
              <p class="info-en">
                  Bai Mai Wine (Shenzhen Buy My Wine investment Co.Ltd) industry promotes wine culture and communication as base, wine industry sales and wholesale operations, providing total solutions of wine business to enhance the core competitiveness of products.
                  <% if (isMobile) { %>
                    <br />
                  <% } else{%>
                    <br /><br />
                  <%}%>
                  Bai Mai Wine covering Guangdong, Northwest, Southwest of China Bai Mai Wine has united with US Department of Agriculture, Washington, Washington State Wine Institute's import and export group in mainland China to promote wines from Washington State. The core wine products include Milbrandt, Gordon, Claar Cellars, Hedges winery products from Washington State. Bai Mai Wine also imports French organic wines, based on China's emerging wine market, to promote organic products.
                  <% if (isMobile) { %>
                    <br />
                  <% } else{%>
                    <br /><br />
                  <%}%>
                  In the future, we need to look for wines from Italy, Burgundy in France, South Africa, Spain, Australia, new world countries. We adopted leading cultural promotion based, so that our dealers understand cultural areas better, foreshadowing market. 
              </p>
            </div>
          </div>
          <!-- E 公司简介 -->
          <!-- S 葡萄酒 -->
          <div class="red-wine scrollItem">
            <h3 class="common-title">葡萄酒</h3>
            <div class="wine-wrapper common-wrap">
              <% if (isMobile) { %>
                <%-include("include/m_home_product_module")%>
              <% } else{%>
                <%-include("include/home_product_module")%>
              <%}%>
            </div>
            <% if (isMobile) { %>
               <a href="/prodlist" class="view-all">查看全部葡萄酒</a>
            <% } else{%>
               <a href="/prodlist" target="_blank" class="view-all">查看全部葡萄酒</a>
            <%}%>
          </div>
          <!-- E 葡萄酒 -->
          <!-- S 精彩活动 -->
          <div class="active-home scrollItem">
              <h3 class="common-title">精彩活动</h3>
              <% if (isMobile) { %>
                <%-include("include/m_home_active_module")%>
              <% } else{%>
                <%-include("include/home_active_module")%>
              <%}%>
              <a href="/active" target="_blank" class="view-all">查看全部精彩活动</a>
          </div>
          <!-- E 精彩活动 -->
          <!-- S 公告 -->
          <%= /*<div class="notice-home clear scrollItem">
            <div class="img-wrap fl">
              <img src="/images/home/notice_bg.jpg" alt="">
            </div>
            <div class="notice-wrap fr">
              <h3 class="notice-title">公告</h3>
              <div class="notice-list">
                <ul>
                  <li>
                    <a href="javascript:;" target="_blank" title="公告1">公告1</a>
                  </li>
                  <li>
                    <a href="javascript:;" target="_blank" title="公告2公告2公告2公告2公告2公告2公告2">公告2公告2公告2公告2公告2公告2公告2</a>
                  </li>
                  <li>
                    <a href="javascript:;" target="_blank" title="公告3公告3公告3公告3公告3">公告3公告3公告3公告3公告3</a>
                  </li>
                  <li>
                    <a href="javascript:;" target="_blank" title="公告4">公告4</a>
                  </li>
                  <li>
                    <a href="javascript:;" target="_blank" title="公告5">公告5</a>
                  </li>
                  <li>
                    <a href="javascript:;" target="_blank" title="公告6">公告6</a>
                  </li>
                </ul>
              </div>
              <em class="notice-tag"></em>
              <a href="javascript:;" target="_blank" class="view-all">查看全部精彩活动</a>
            </div>
            <!-- 公告弹框 -->
            <div class="notice-popup">
              <div class="pop-ctn">
                <div class="ctn-box">
                  <div class="cell-content">
                    <div class="content">
                      <ul>
                        <li class="pop-list-item">
                          <div class="nav clear">
                            <span class="nav-title">公告</span>
                            <em class="nav-icon"></em>
                          </div>
                          <div class="ctn-wrap">
                            <div class="ctn">
                              <p class="ctn-text">公告详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情</p>
                              <ul class="ctn-img">
                                <li>
                                  <img src="https://dummyimage.com/600x400/000/fff" alt="">
                                </li>
                              </ul>
                            </div>
                          </div>
                        </li>
                        <li class="pop-list-item">
                          <div class="nav clear">
                            <span class="nav-title">公告</span>
                            <em class="nav-icon"></em>
                          </div>
                          <div class="ctn-wrap">
                            <div class="ctn">
                              <p class="ctn-text">公告详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情</p>
                              <ul class="ctn-img">
                                <li>
                                  <img src="https://dummyimage.com/600x400/000/fff" alt="">
                                </li>
                              </ul>
                            </div>
                          </div>
                        </li>
                        <li class="pop-list-item">
                          <div class="nav clear">
                            <span class="nav-title">公告</span>
                            <em class="nav-icon"></em>
                          </div>
                          <div class="ctn-wrap">
                            <div class="ctn">
                              <p class="ctn-text">公告详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情</p>
                              <ul class="ctn-img">
                                <li>
                                  <img src="https://dummyimage.com/600x400/000/fff" alt="">
                                </li>
                              </ul>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mask"></div>
              <em class="close"></em>
            </div>
          </div>*/ %>
          <!-- E 公告 -->
          <!-- S 招聘 -->
          <%= /*<div class="recruit-home scrollItem">
            <div class="recruit-box common-wrap">
              <h3 class="common-title">招募精英</h3>
              <div class="recruit-wrap">
                <p class="recruit-tips">共有&nbsp;3&nbsp;个在招职位</p>
                <div class="post-wrap">
                  <div class="post-nav clear">
                    <em class="t-name fl">职位：</em>
                    <div class="post-tab fl clear">
                      <span class="on">全部</span>
                      <span>市场与销售</span>
                      <span>职能</span>
                    </div>
                  </div>
                  <div class="post-content">
                    <ul>
                      <li>
                        <a href="javascript:;" target="_blank">深圳大客户销售经理</a>
                      </li>
                      <li>
                        <a href="javascript:;" target="_blank">深圳大客户销售经理</a>
                      </li>
                      <li>
                        <a href="javascript:;" target="_blank">深圳大客户销售经理</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <img class="post-bg" src="/images/home/post_bg.jpg" alt="">
          </div>*/ %>
          <!-- E 招聘 -->
          <!-- S 联系我们 -->
          <div class="contact-us scrollItem">
            <h3 class="contact-title">联系我们</h3>
            <div class="contact-wrap common-wrap clear">
              <div class="info-us fl">
                <dl class="clear">
                  <dt>Adrees</dt>
                  <dd>
                    <p>
                      深圳市前海佰迈投资有限公司 &reg;
                      深圳市前海深港合作区前湾一路A栋201室<br />
                      Qianhai Shenzhen-Hongkong Modern Service Industry Cooperation Zone.
                    </p>
                    <a href="http://api.map.baidu.com/marker?location=22.5212867724,113.9096049969&title=目标位置&content=深圳市前海深港合作区前湾一路1号A栋201&output=html&src=深圳市前海佰迈投资有限公司" target="_blank" class="bd-map">百度导航</a>
                  </dd>
                </dl>
                <dl class="clear">
                  <dt>E-mail</dt>
                  <dd>guvine@qq.com</dd>
                </dl>
                <dl class="clear">
                  <dt>微信</dt>
                  <dd>645038829</dd>
                </dl>
              </div>
              <div class="contact-message fr">
                <h5 class="msg-title">直接留言</h5>
                <div class="msg-wrap">
                  <form action="" method="POST">
                    <dl class="clear">
                      <dt>
                        <label for="contacts">联系人</label>
                      </dt>
                      <dd>
                        <input disabled placeholder="联系人" name="contacts" id="contacts" type="text" autocomplete="off" />
                      </dd>
                    </dl>
                    <dl class="clear">
                      <dt>
                        <label for="tel">Tel</label>
                      </dt>
                      <dd>
                        <input disabled placeholder="电话" name="tel" id="tel" type="text" autocomplete="off" />
                      </dd>
                    </dl>
                    <dl class="clear">
                      <dt>
                        <label for="email">E-mail</label>
                      </dt>
                      <dd>
                        <input disabled placeholder="邮箱" name="email" id="email" type="text" autocomplete="off" />
                      </dd>
                    </dl>
                    <dl class="clear">
                      <dt>
                        <label for="comments">您的留意</label>
                      </dt>
                      <dd>
                        <textarea disabled placeholder="请输入您的留言" name="comments" id="comments" type="text"></textarea>
                      </dd>
                    </dl>
                    <dl class="clear">
                      <dt>&nbsp;</dt>
                      <dd>
                        <a href="javascript: void(0);" id="submitMsg" onclick="alert('暂不支持留言')">提交</a>
                      </dd>
                    </dl>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- E 联系我们 -->
        </div>
      </div>
      <!-- S 公共尾部 -->
      <%-include("include/footer")%>
      <!-- E 公共尾部 -->
    </div>
  </body>
</html>
