	<%-include("include/header", {title: title})%>
    <div class="global-wrapper">
      <!-- S 公共头部 -->
      <div class="g-header clear">
        <% if (isMobile) { %>
          <%-include("include/navmobile")%>
        <% } else{%>
          <%-include("include/navpc")%>
        <%}%>
      </div>
      <div class="main-content">
        <% if (isMobile) { %>
          <%-include("include/m_prod_list_module")%>
        <% } else{%>
          <%-include("include/prod_list_module")%>
        <%}%>
      </div>
      <!-- S 公共尾部 -->
      <%-include("include/footer")%>
      <!-- E 公共尾部 -->
    </div>
  </body>
</html>
