<!DOCTYPE html>
    <%-include("include/header", {title: title})%>
    <div class="global-wrapper static-wrapper">
      <!-- S 公共头部 -->
      <div class="g-header clear">
        <% if (isMobile) { %>
          <%-include("include/navmobile")%>
        <% } else{%>
          <%-include("include/navpc")%>
        <%}%>
      </div>
      <div class="main-content">
        <div class="recruit-page">
          <div class="recruit-content">
            <h5 class="post-title"><%=recruitment.name%></h5>
            <div class="post-detail clear">
              <div class="post-disq fr">
                <h6 class="post-tips">任职资格</h6>
                <ol class="post-list">
                  <li><%-recruitment.zige%></li>
                </ol>
              </div>
              <div class="post-duty fl">
                <h6 class="post-tips">岗位职责</h6>
                <ol class="post-list">
                  <li><%-recruitment.zhize%></li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- S 公共尾部 -->
      <%-include("include/footer")%>
      <!-- E 公共尾部 -->
    </div>
  </body>
</html>
