<% Object.keys(productsClassic).map(function(v, i){ %>
  <% if(productsClassic[v].length){ %>
    <% if(i%2 === 0){%>
      <div class="prod-item clear" id="prod-item-<%= i + 1 %>">
        <div class="prod-img fr clear">
          <div class="img-wrap prod-item-<%= i + 1 %> fr swiper-container">
            <ul class="img-box swiper-wrapper clear">
              <% productsClassic[v].map(function(v1, i1) { %>
                <li class="swiper-slide swiper-no-swiping item-list" data-index="<%= i1 %>">
                  <img class="lazyload" data-original="<%= v1.smallImage.url %>" alt="<%= v1.area %>">
                  <i class="mask"></i>
                  <em class="icon_plus"></em>
                </li>
              <% }) %>
            </ul>
          </div>
          <div class="img-text fr">
            <%= v %>
            <div class="area">
              <% productsClassic[v].map(function(v1, i1) { %>
                <% if(i1 === 0){ %>
                  <span style="display: block;"><%= v1.area %></span>
                <% } else{ %>
                  <span><%= v1.area %></span>
                <% } %>
              <% }) %>
            </div>
            <div class="pagation-home">
              <ul class="pagation-box">
                <% productsClassic[v].map(function(v1, i1) { %>
                  <% if(i1 === 0){ %>
                    <li class="on clear"><span>0<%= i1 + 1%></span><em></em><i></i></li>
                  <% } else{ %>
                    <% if(i1 < 9){ %>
                        <li class="clear"><span>0<%= i1 + 1%></span><em></em><i></i></li>
                    <% } else{ %>
                        <li class="clear"><span><%= i1 + 1%></span><em></em><i></i></li>
                    <% } %>
                  <% } %>
                <% }) %>
              </ul>
              <div class="tab-btn clear">
                <em class="left fl">&lt;</em>
                <em class="right fr">&gt;</em>
              </div>
            </div>
          </div>
          <div class="home-prod-popup-wrap">
            <div class="prod-popup">
              <div class="pop-prod-box">
                <div class="wrap-box">
                  <div class="swiper-container">
                    <ul class="pop-wrap swiper-wrapper clear">
                      <% productsClassic[v].map(function(v1, i1) { %>
                        <li class="swiper-slide">
                          <div class="pop-img">
                            <div class="v-cell">
                              <img class="lazyload" data-original="<%= v1.largerImage.url %>" alt="<%= v1.area %>">
                            </div>
                          </div>
                        </li>
                      <% }) %>
                    </ul>
                  </div>
                  <em class="close"></em>
                  <em class="left"></em>
                  <em class="right"></em>
                </div>
              </div>
              <i class="mask"></i>
            </div>
          </div>
        </div>
        <div class="prod-info fl">
          <% productsClassic[v].map(function(v1, i1) { %>
            <% if(i1 === 0){ %>
              <p class="intros" style="display: block;"><%- v1.intros.replace(/\n/g, '<i></i>') %></p>
            <% } else{ %>
              <p class="intros"><%- v1.intros.replace(/\n/g, '<i></i>') %></p>
            <% } %>
          <% }) %>
        </div>
      </div>
    <% } else{ %>
      <div class="prod-item clear" id="prod-item-<%= i + 1 %>">
        <div class="prod-img fl clear">
          <div class="img-text fl">
            <%= v %>
            <div class="area">
              <% productsClassic[v].map(function(v1, i1) { %>
                <% if(i1 === 0){ %>
                  <span style="display: block;"><%= v1.area %></span>
                <% } else{ %>
                  <span><%= v1.area %></span>
                <% } %>
              <% }) %>
            </div>
            <div class="pagation-home">
              <ul class="pagation-box">
                <% productsClassic[v].map(function(v1, i1) { %>
                  <% if(i1 === 0){ %>
                    <li class="on clear"><span>0<%= i1 + 1%></span><em></em><i></i></li>
                  <% } else{ %>
                    <% if(i1 < 9){ %>
                        <li class="clear"><span>0<%= i1 + 1%></span><em></em><i></i></li>
                    <% } else{ %>
                        <li class="clear"><span><%= i1 + 1%></span><em></em><i></i></li>
                    <% } %>
                  <% } %>
                <% }) %>
              </ul>
              <div class="tab-btn clear">
                <em class="left fl">&lt;</em>
                <em class="right fr">&gt;</em>
              </div>
            </div>
          </div>
          <div class="img-wrap prod-item-<%= i + 1 %> fl swiper-container">
            <ul class="img-box swiper-wrapper clear">
              <% productsClassic[v].map(function(v1, i1) { %>
                <li class="swiper-slide swiper-no-swiping item-list" data-index="<%= i1 %>">
                  <img class="lazyload" data-original="<%= v1.smallImage.url %>" alt="<%= v1.area %>">
                  <i class="mask"></i>
                  <em class="icon_plus"></em>
                </li>
              <% }) %>
            </ul>
          </div>
          <div class="home-prod-popup-wrap">
            <div class="prod-popup">
              <div class="pop-prod-box">
                <div class="wrap-box">
                  <div class="swiper-container">
                    <ul class="pop-wrap swiper-wrapper clear">
                      <% productsClassic[v].map(function(v1, i1) { %>
                        <li class="swiper-slide">
                          <div class="pop-img">
                            <div class="v-cell">
                              <img class="lazyload" data-original="<%= v1.largerImage.url %>" alt="<%= v1.area %>">
                            </div>
                          </div>
                        </li>
                      <% }) %>
                    </ul>
                  </div>
                  <em class="close"></em>
                  <em class="left"></em>
                  <em class="right"></em>
                </div>
              </div>
              <i class="mask"></i>
            </div>
          </div>
        </div>
        <div class="prod-info fr">
          <% productsClassic[v].map(function(v1, i1) { %>
            <% if(i1 === 0){ %>
              <p class="intros" style="display: block;"><%- v1.intros.replace(/\n/g, '<i></i>') %></p>
            <% } else{ %>
              <p class="intros"><%- v1.intros.replace(/\n/g, '<i></i>') %></p>
            <% } %>
          <% }) %>
        </div>
      </div>
    <% } %>
  <% } %>
<% }) %>