<% Object.keys(productsClassic).map(function(v, i){ %>
  <% if(productsClassic[v].length){ %>
    <div class="prod-item">
      <div class="prod-img">
        <div class="img-wrap prod-item-<%= i + 1 %> swiper-container">
          <ul class="img-box swiper-wrapper">
            <% productsClassic[v].map(function(v1, i1) { %>
              <li class="swiper-slide swiper-no-swiping item-list" data-index="<%= i1 %>">
                <a href="/product/<%= v1._id %>"><img class="lazyload" data-original="<%= v1.smallImage.url %>" alt="<%= v1.area %>"></a>
                <div class="prod-info">
                  <p class="intros" style="display: block;"><span><%= v1.name %></span><%= v1.intros %></p>
                </div>
              </li>
            <% }) %>
          </ul>
        </div>
        <div class="img-text">
          <%= v %>
        </div>
      </div>
      <div class="pagation-home">
        <ul class="pagation-box">
          <% productsClassic[v].map(function(v1, i1) { %>
            <% if(i1 === 0){ %>
              <li class="on"><em></em></li>
            <% } else{ %>
              <li><em></em></li>
            <% } %>
          <% }) %>
        </ul>
      </div>
    </div>
  <% } %>
<% }) %>